# packages in environment at C:\Users\finn.gurry\AppData\Local\miniforge3\envs\asim_104:
#
# Name                    Version                   Build  Channel
abseil-cpp                20211102.0           h0e60522_0    conda-forge
activitysim               1.0.4              pyhd8ed1ab_0    conda-forge
arrow-cpp                 7.0.0           py39h735a502_1_cpu    conda-forge
aws-c-cal                 0.5.11               he19cf47_0    conda-forge
aws-c-common              0.6.2                h8ffe710_0    conda-forge
aws-c-event-stream        0.2.7               h70e1b0c_13    conda-forge
aws-c-io                  0.10.5               h2fe331c_0    conda-forge
aws-checksums             0.1.11               h1e232aa_7    conda-forge
aws-sdk-cpp               1.8.186              hb0612c5_3    conda-forge
blosc                     1.21.0               h0e60522_0    conda-forge
brotlipy                  0.7.0           py39hb82d6ee_1003    conda-forge
bzip2                     1.0.8                h8ffe710_4    conda-forge
c-ares                    1.18.1               h8ffe710_0    conda-forge
ca-certificates           2021.10.8            h5b45459_0    conda-forge
certifi                   2021.10.8        py39hcbf5309_1    conda-forge
cffi                      1.15.0           py39h0878f49_0    conda-forge
charset-normalizer        2.0.12             pyhd8ed1ab_0    conda-forge
click                     8.0.4            py39hcbf5309_0    conda-forge
colorama                  0.4.4              pyh9f0ad1d_0    conda-forge
cryptography              36.0.1           py39h7bc7c5c_0    conda-forge
cytoolz                   0.11.2           py39hb82d6ee_1    conda-forge
flask                     2.0.3              pyhd8ed1ab_0    conda-forge
gflags                    2.2.2             ha925a31_1004    conda-forge
glog                      0.5.0                h4797de2_0    conda-forge
grpc-cpp                  1.43.2               h7b4b439_2    conda-forge
hdf5                      1.12.1          nompi_h2a0e4a3_104    conda-forge
idna                      3.3                pyhd8ed1ab_0    conda-forge
intel-openmp              2022.0.0          h57928b3_3663    conda-forge
itsdangerous              2.1.1              pyhd8ed1ab_0    conda-forge
jinja2                    3.0.3              pyhd8ed1ab_0    conda-forge
krb5                      1.19.2               h1176d77_4    conda-forge
libblas                   3.9.0              13_win64_mkl    conda-forge
libbrotlicommon           1.0.9                h8ffe710_6    conda-forge
libbrotlidec              1.0.9                h8ffe710_6    conda-forge
libbrotlienc              1.0.9                h8ffe710_6    conda-forge
libcblas                  3.9.0              13_win64_mkl    conda-forge
libcurl                   7.82.0               h789b8ee_0    conda-forge
libffi                    3.4.2                h8ffe710_5    conda-forge
liblapack                 3.9.0              13_win64_mkl    conda-forge
libprotobuf               3.19.4               h7755175_0    conda-forge
libssh2                   1.10.0               h680486a_2    conda-forge
libthrift                 0.15.0               h636ae23_1    conda-forge
libutf8proc               2.7.0                hcb41399_0    conda-forge
libzlib                   1.2.11            h8ffe710_1013    conda-forge
llvmlite                  0.38.0           py39ha0cd8c8_0    conda-forge
lz4-c                     1.9.3                h8ffe710_1    conda-forge
markupsafe                2.1.0            py39hb82d6ee_1    conda-forge
mkl                       2022.0.0           h0e2418a_796    conda-forge
numba                     0.55.1           py39hb8cd55e_0    conda-forge
numexpr                   2.7.3            py39h2e25243_2    conda-forge
numpy                     1.21.5           py39h6331f09_0    conda-forge
openmatrix                0.3.5.0            pyhd8ed1ab_0    conda-forge
openssl                   1.1.1l               h8ffe710_0    conda-forge
orca                      1.6                pyhd8ed1ab_0    conda-forge
packaging                 21.3               pyhd8ed1ab_0    conda-forge
pandas                    1.4.1            py39h2e25243_0    conda-forge
parquet-cpp               1.5.1                         2    conda-forge
pip                       22.0.4             pyhd8ed1ab_0    conda-forge
psutil                    5.9.0            py39hb82d6ee_0    conda-forge
pyarrow                   7.0.0           py39ha05331a_1_cpu    conda-forge
pycparser                 2.21               pyhd8ed1ab_0    conda-forge
pygments                  2.11.2             pyhd8ed1ab_0    conda-forge
pyopenssl                 22.0.0             pyhd8ed1ab_0    conda-forge
pyparsing                 3.0.7              pyhd8ed1ab_0    conda-forge
pysocks                   1.7.1            py39hcbf5309_4    conda-forge
pytables                  3.7.0            py39hbcfe41f_0    conda-forge
python                    3.9.10          h9a09f29_2_cpython    conda-forge
python-dateutil           2.8.2              pyhd8ed1ab_0    conda-forge
python_abi                3.9                      2_cp39    conda-forge
pytz                      2021.3             pyhd8ed1ab_0    conda-forge
pyyaml                    6.0              py39hb82d6ee_3    conda-forge
re2                       2022.02.01           h0e60522_0    conda-forge
requests                  2.27.1             pyhd8ed1ab_0    conda-forge
setuptools                60.9.3           py39hcbf5309_0    conda-forge
six                       1.16.0             pyh6c4a22f_0    conda-forge
snappy                    1.1.8                ha925a31_3    conda-forge
sqlite                    3.37.0               h8ffe710_0    conda-forge
tbb                       2021.5.0             h2d74725_0    conda-forge
tk                        8.6.12               h8ffe710_0    conda-forge
toolz                     0.11.2             pyhd8ed1ab_0    conda-forge
tzdata                    2021e                he74cb21_0    conda-forge
ucrt                      10.0.20348.0         h57928b3_0    conda-forge
urllib3                   1.26.8             pyhd8ed1ab_1    conda-forge
vc                        14.2                 hb210afc_6    conda-forge
vs2015_runtime            14.29.30037          h902a5da_6    conda-forge
werkzeug                  2.0.3              pyhd8ed1ab_1    conda-forge
wheel                     0.37.1             pyhd8ed1ab_0    conda-forge
win_inet_pton             1.1.0            py39hcbf5309_3    conda-forge
xz                        5.2.5                h62dcd97_1    conda-forge
yaml                      0.2.5                h8ffe710_2    conda-forge
zlib                      1.2.11            h8ffe710_1013    conda-forge
zstd                      1.5.2                h6255e5f_0    conda-forge
